  
            body{
                background: rgb(53, 45, 45);
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                margin: 0;
                padding: 0;
            }
            header{
                background: black;
                background-image: url("images/p.jpg");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                padding: 10px;
                height: 400px;
                text-align: center;
                opacity: 0.5;
            }
            header a{
                color: black;
                text-decoration:none;
                text-transform: uppercase;
                margin-top: 40px;
                font-size: 20px;
                
        
            }  
         
            a:hover{
                background: pink;
                text-decoration: underline;
            } 
            header .mobile{
                display: none;
            }
            header .logo a{
                background-image: url("images/45332.png");
                background-size: 80px;
                background-repeat: no-repeat;
                display: inline-block;
                width: 80px;
                position: relative;
                height: 80px;
                top: -30px;
                text-indent: -9999999px;
            }
            nav ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
            }
            nav li{
                display: inline-block;
                margin: 0 20px 0 0;
            }

            /*RESPONSIVE RULES*/
            @media screen and(max-width: 533px){
                header{
                    height: 200px;
                }
                header .mobile{
                    display: inline-block;
                }
                
                header .desktop{
                    display: none;
                }

            }
            .row{
                background: white;
                color: gray;
                padding: 20px;
                display: flex;
                flex-direction: row;
                font-size: 20px;
                
            }
            
            #cf6_image {
                margin:0 auto;
                width:450px;
                height:281px;
                transition: background-image 1s ease-in-out;
                background-image:url("images/p.jpg");
              }
              
              #cf6_image:hover {
                background-image:url("images/inside.jpg");
              }
            
              .button {
                display: inline-block;
                padding: 15px 25px;
                font-size: 24px;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                outline: none;
                color: #fff;
                background-color: rgb(163, 163, 163);
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
                margin: 20px;
              }
              
              .button:hover {background-color: #c71616;
              }
              
            .button:active {
                background-color: #0f1110;
                box-shadow: 0 5px #666;
               
              }
              /*Menu */
              .nemes{
                  text-align: center;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 30px;
                
            
              }
              table {
                width: 90%;
                margin:100px auto;
                table-layout:fixed;
                border-collapse: collapse;
              
                }
            
               table td {
                padding:20px 0 0 0;
                vertical-align:bottom;
                }
                
        
                
                td:first-child {
                text-align: left;
                font-weight: 700;
              overflow: hidden;
                position: relative;
                }
                
            td:first-child::after {
              content: '';
              position: absolute;
              bottom: 0;
              width:1500px;
              height:0px ;
              margin-left: 1px;
              border-bottom:2px dotted grey;
            }
            
                  td:last-child {
                text-align:right;
                width:30px;
                  }
                  
             
            footer{
                background: black;
                color: gray;
                font-size: 12 px;
                text-align: center;
                padding: 10px 16px;
                }
           

            @media screen and(max-width: 533px){
                .features{
                    display: block;
                }
            }
